img {
    height: 2rem;
  }
  .header {
    height: 8%;
    background-color: rgba(87, 2, 8, 0.833);
    justify-content: left;
  }
  span {
    display: flex;
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  h2 {
    font-size: 1.7rem;
    padding-left: 20px;
    padding-top: 15px;
  }
